extends layout

block content
  h2 Hello World!
  p Thanks for using <a href='https://github.com/static-dev/spike'>spike</a>
  p Example of locals: #{foo}
  :marked
    Example of **markdown**

  hr

  h3 Getting Started
  p Customize your settings by editing the #[a(href="https://spike.readme.io/docs/appjs") app.js] file or simply start by editing this view
